# Python / Backend
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

# Frontend
node_modules/
dist/
.DS_Store
frontend/dist/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
Thumbs.db
.DS_Store

# Devvit
upfeed/.devvit/